@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pearl Jam 2020</title>
</head>
<body bgcolor="green">
    <div>
        <p>
            Pearl Jam is releasing their 12th studio album in March. <br />
            This will be their first album release since 2013 and their first tour since 2018. <br />
            Pearl Jam has been around since 1990 and have had 3 number one albums and 2 number two albums. Over the years their genre has remained mostly
            the same but has gone from grunge in the early days to more alternative in the present. <br />
        </p>
        <img width="50" src="https://www.nme.com/wp-content/uploads/2019/12/pearljam.jpg" />
        <h2>Concerts I have been to:</h2>
        <table>
            <tr>
                <th>Location</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Chicago IL</td>
                <td>July 19th, 2013</td>
            </tr>
        </table>
    </div>
</body>
</html>
